@font-face {
    font-family: 'icomoon';
    src:    url('icomoon.eot?kuva98');
    src:    url('icomoon.eot?kuva98#iefix') format('embedded-opentype'),
        url('icomoon.ttf?kuva98') format('truetype'),
        url('icomoon.woff?kuva98') format('woff'),
        url('icomoon.svg?kuva98#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="iconM-"], [class*=" iconM-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.iconM-add-to-list:before {
    content: "\e900";
}
.iconM-classic-computer:before {
    content: "\e901";
}
.iconM-controller-fast-backward:before {
    content: "\e902";
}
.iconM-creative-commons-attribution:before {
    content: "\e903";
}
.iconM-creative-commons-noderivs:before {
    content: "\e904";
}
.iconM-creative-commons-noncommercial-eu:before {
    content: "\e905";
}
.iconM-creative-commons-noncommercial-us:before {
    content: "\e906";
}
.iconM-creative-commons-public-domain:before {
    content: "\e907";
}
.iconM-creative-commons-remix:before {
    content: "\e908";
}
.iconM-creative-commons-share:before {
    content: "\e909";
}
.iconM-creative-commons-sharealike:before {
    content: "\e90a";
}
.iconM-creative-commons:before {
    content: "\e90b";
}
.iconM-document-landscape:before {
    content: "\e90c";
}
.iconM-remove-user:before {
    content: "\e90d";
}
.iconM-warning:before {
    content: "\e90e";
}
.iconM-arrow-bold-down:before {
    content: "\e90f";
}
.iconM-arrow-bold-left:before {
    content: "\e910";
}
.iconM-arrow-bold-right:before {
    content: "\e911";
}
.iconM-arrow-bold-up:before {
    content: "\e912";
}
.iconM-arrow-down:before {
    content: "\e913";
}
.iconM-arrow-left:before {
    content: "\e914";
}
.iconM-arrow-long-down:before {
    content: "\e915";
}
.iconM-arrow-long-left:before {
    content: "\e916";
}
.iconM-arrow-long-right:before {
    content: "\e917";
}
.iconM-arrow-long-up:before {
    content: "\e918";
}
.iconM-arrow-right:before {
    content: "\e919";
}
.iconM-arrow-up:before {
    content: "\e91a";
}
.iconM-arrow-with-circle-down:before {
    content: "\e91b";
}
.iconM-arrow-with-circle-left:before {
    content: "\e91c";
}
.iconM-arrow-with-circle-right:before {
    content: "\e91d";
}
.iconM-arrow-with-circle-up:before {
    content: "\e91e";
}
.iconM-bookmark:before {
    content: "\e91f";
}
.iconM-bookmarks:before {
    content: "\e920";
}
.iconM-chevron-down:before {
    content: "\e921";
}
.iconM-chevron-left:before {
    content: "\e922";
}
.iconM-chevron-right:before {
    content: "\e923";
}
.iconM-chevron-small-down:before {
    content: "\e924";
}
.iconM-chevron-small-left:before {
    content: "\e925";
}
.iconM-chevron-small-right:before {
    content: "\e926";
}
.iconM-chevron-small-up:before {
    content: "\e927";
}
.iconM-chevron-thin-down:before {
    content: "\e928";
}
.iconM-chevron-thin-left:before {
    content: "\e929";
}
.iconM-chevron-thin-right:before {
    content: "\e92a";
}
.iconM-chevron-thin-up:before {
    content: "\e92b";
}
.iconM-chevron-up:before {
    content: "\e92c";
}
.iconM-chevron-with-circle-down:before {
    content: "\e92d";
}
.iconM-chevron-with-circle-left:before {
    content: "\e92e";
}
.iconM-chevron-with-circle-right:before {
    content: "\e92f";
}
.iconM-chevron-with-circle-up:before {
    content: "\e930";
}
.iconM-cloud:before {
    content: "\e931";
}
.iconM-controller-fast-forward:before {
    content: "\e932";
}
.iconM-controller-jump-to-start:before {
    content: "\e933";
}
.iconM-controller-next:before {
    content: "\e934";
}
.iconM-controller-paus:before {
    content: "\e935";
}
.iconM-controller-play:before {
    content: "\e936";
}
.iconM-controller-record:before {
    content: "\e937";
}
.iconM-controller-stop:before {
    content: "\e938";
}
.iconM-controller-volume:before {
    content: "\e939";
}
.iconM-dot-single:before {
    content: "\e93a";
}
.iconM-dots-three-horizontal:before {
    content: "\e93b";
}
.iconM-dots-three-vertical:before {
    content: "\e93c";
}
.iconM-dots-two-horizontal:before {
    content: "\e93d";
}
.iconM-dots-two-vertical:before {
    content: "\e93e";
}
.iconM-download:before {
    content: "\e93f";
}
.iconM-emoji-flirt:before {
    content: "\e940";
}
.iconM-flow-branch:before {
    content: "\e941";
}
.iconM-flow-cascade:before {
    content: "\e942";
}
.iconM-flow-line:before {
    content: "\e943";
}
.iconM-flow-parallel:before {
    content: "\e944";
}
.iconM-flow-tree:before {
    content: "\e945";
}
.iconM-install:before {
    content: "\e946";
}
.iconM-layers:before {
    content: "\e947";
}
.iconM-open-book:before {
    content: "\e948";
}
.iconM-resize-100:before {
    content: "\e949";
}
.iconM-resize-full-screen:before {
    content: "\e94a";
}
.iconM-save:before {
    content: "\e94b";
}
.iconM-select-arrows:before {
    content: "\e94c";
}
.iconM-sound-mute:before {
    content: "\e94d";
}
.iconM-sound:before {
    content: "\e94e";
}
.iconM-trash:before {
    content: "\e94f";
}
.iconM-triangle-down:before {
    content: "\e950";
}
.iconM-triangle-left:before {
    content: "\e951";
}
.iconM-triangle-right:before {
    content: "\e952";
}
.iconM-triangle-up:before {
    content: "\e953";
}
.iconM-uninstall:before {
    content: "\e954";
}
.iconM-upload-to-cloud:before {
    content: "\e955";
}
.iconM-upload:before {
    content: "\e956";
}
.iconM-add-user:before {
    content: "\e957";
}
.iconM-address:before {
    content: "\e958";
}
.iconM-adjust:before {
    content: "\e959";
}
.iconM-air:before {
    content: "\e95a";
}
.iconM-aircraft-landing:before {
    content: "\e95b";
}
.iconM-aircraft-take-off:before {
    content: "\e95c";
}
.iconM-aircraft:before {
    content: "\e95d";
}
.iconM-align-bottom:before {
    content: "\e95e";
}
.iconM-align-horizontal-middle:before {
    content: "\e95f";
}
.iconM-align-left:before {
    content: "\e960";
}
.iconM-align-right:before {
    content: "\e961";
}
.iconM-align-top:before {
    content: "\e962";
}
.iconM-align-vertical-middle:before {
    content: "\e963";
}
.iconM-archive:before {
    content: "\e964";
}
.iconM-area-graph:before {
    content: "\e965";
}
.iconM-attachment:before {
    content: "\e966";
}
.iconM-awareness-ribbon:before {
    content: "\e967";
}
.iconM-back-in-time:before {
    content: "\e968";
}
.iconM-back:before {
    content: "\e969";
}
.iconM-bar-graph:before {
    content: "\e96a";
}
.iconM-battery:before {
    content: "\e96b";
}
.iconM-beamed-note:before {
    content: "\e96c";
}
.iconM-bell:before {
    content: "\e96d";
}
.iconM-blackboard:before {
    content: "\e96e";
}
.iconM-block:before {
    content: "\e96f";
}
.iconM-book:before {
    content: "\e970";
}
.iconM-bowl:before {
    content: "\e971";
}
.iconM-box:before {
    content: "\e972";
}
.iconM-briefcase:before {
    content: "\e973";
}
.iconM-browser:before {
    content: "\e974";
}
.iconM-brush:before {
    content: "\e975";
}
.iconM-bucket:before {
    content: "\e976";
}
.iconM-cake:before {
    content: "\e977";
}
.iconM-calculator:before {
    content: "\e978";
}
.iconM-calendar:before {
    content: "\e979";
}
.iconM-camera:before {
    content: "\e97a";
}
.iconM-ccw:before {
    content: "\e97b";
}
.iconM-chat:before {
    content: "\e97c";
}
.iconM-check:before {
    content: "\e97d";
}
.iconM-circle-with-cross:before {
    content: "\e97e";
}
.iconM-circle-with-minus:before {
    content: "\e97f";
}
.iconM-circle-with-plus:before {
    content: "\e980";
}
.iconM-circle:before {
    content: "\e981";
}
.iconM-circular-graph:before {
    content: "\e982";
}
.iconM-clapperboard:before {
    content: "\e983";
}
.iconM-clipboard:before {
    content: "\e984";
}
.iconM-clock:before {
    content: "\e985";
}
.iconM-code:before {
    content: "\e986";
}
.iconM-cog:before {
    content: "\e987";
}
.iconM-colours:before {
    content: "\e988";
}
.iconM-compass:before {
    content: "\e989";
}
.iconM-copy:before {
    content: "\e98a";
}
.iconM-credit-card:before {
    content: "\e98b";
}
.iconM-credit:before {
    content: "\e98c";
}
.iconM-cross:before {
    content: "\e98d";
}
.iconM-cup:before {
    content: "\e98e";
}
.iconM-cw:before {
    content: "\e98f";
}
.iconM-cycle:before {
    content: "\e990";
}
.iconM-database:before {
    content: "\e991";
}
.iconM-dial-pad:before {
    content: "\e992";
}
.iconM-direction:before {
    content: "\e993";
}
.iconM-document:before {
    content: "\e994";
}
.iconM-documents:before {
    content: "\e995";
}
.iconM-drink:before {
    content: "\e996";
}
.iconM-drive:before {
    content: "\e997";
}
.iconM-drop:before {
    content: "\e998";
}
.iconM-edit:before {
    content: "\e999";
}
.iconM-email:before {
    content: "\e99a";
}
.iconM-emoji-happy:before {
    content: "\e99b";
}
.iconM-emoji-neutral:before {
    content: "\e99c";
}
.iconM-emoji-sad:before {
    content: "\e99d";
}
.iconM-erase:before {
    content: "\e99e";
}
.iconM-eraser:before {
    content: "\e99f";
}
.iconM-export:before {
    content: "\e9a0";
}
.iconM-eye:before {
    content: "\e9a1";
}
.iconM-feather:before {
    content: "\e9a2";
}
.iconM-flag:before {
    content: "\e9a3";
}
.iconM-flash:before {
    content: "\e9a4";
}
.iconM-flashlight:before {
    content: "\e9a5";
}
.iconM-flat-brush:before {
    content: "\e9a6";
}
.iconM-folder-images:before {
    content: "\e9a7";
}
.iconM-folder-music:before {
    content: "\e9a8";
}
.iconM-folder-video:before {
    content: "\e9a9";
}
.iconM-folder:before {
    content: "\e9aa";
}
.iconM-forward:before {
    content: "\e9ab";
}
.iconM-funnel:before {
    content: "\e9ac";
}
.iconM-game-controller:before {
    content: "\e9ad";
}
.iconM-gauge:before {
    content: "\e9ae";
}
.iconM-globe:before {
    content: "\e9af";
}
.iconM-graduation-cap:before {
    content: "\e9b0";
}
.iconM-grid:before {
    content: "\e9b1";
}
.iconM-hair-cross:before {
    content: "\e9b2";
}
.iconM-hand:before {
    content: "\e9b3";
}
.iconM-heart-outlined:before {
    content: "\e9b4";
}
.iconM-heart:before {
    content: "\e9b5";
}
.iconM-help-with-circle:before {
    content: "\e9b6";
}
.iconM-help:before {
    content: "\e9b7";
}
.iconM-home:before {
    content: "\e9b8";
}
.iconM-hour-glass:before {
    content: "\e9b9";
}
.iconM-image-inverted:before {
    content: "\e9ba";
}
.iconM-image:before {
    content: "\e9bb";
}
.iconM-images:before {
    content: "\e9bc";
}
.iconM-inbox:before {
    content: "\e9bd";
}
.iconM-infinity:before {
    content: "\e9be";
}
.iconM-info-with-circle:before {
    content: "\e9bf";
}
.iconM-info:before {
    content: "\e9c0";
}
.iconM-key:before {
    content: "\e9c1";
}
.iconM-keyboard:before {
    content: "\e9c2";
}
.iconM-lab-flask:before {
    content: "\e9c3";
}
.iconM-landline:before {
    content: "\e9c4";
}
.iconM-language:before {
    content: "\e9c5";
}
.iconM-laptop:before {
    content: "\e9c6";
}
.iconM-leaf:before {
    content: "\e9c7";
}
.iconM-level-down:before {
    content: "\e9c8";
}
.iconM-level-up:before {
    content: "\e9c9";
}
.iconM-lifebuoy:before {
    content: "\e9ca";
}
.iconM-light-bulb:before {
    content: "\e9cb";
}
.iconM-light-down:before {
    content: "\e9cc";
}
.iconM-light-up:before {
    content: "\e9cd";
}
.iconM-line-graph:before {
    content: "\e9ce";
}
.iconM-link:before {
    content: "\e9cf";
}
.iconM-list:before {
    content: "\e9d0";
}
.iconM-location-pin:before {
    content: "\e9d1";
}
.iconM-location:before {
    content: "\e9d2";
}
.iconM-lock-open:before {
    content: "\e9d3";
}
.iconM-lock:before {
    content: "\e9d4";
}
.iconM-log-out:before {
    content: "\e9d5";
}
.iconM-login:before {
    content: "\e9d6";
}
.iconM-loop:before {
    content: "\e9d7";
}
.iconM-magnet:before {
    content: "\e9d8";
}
.iconM-magnifying-glass:before {
    content: "\e9d9";
}
.iconM-mail:before {
    content: "\e9da";
}
.iconM-man:before {
    content: "\e9db";
}
.iconM-map:before {
    content: "\e9dc";
}
.iconM-mask:before {
    content: "\e9dd";
}
.iconM-medal:before {
    content: "\e9de";
}
.iconM-megaphone:before {
    content: "\e9df";
}
.iconM-menu:before {
    content: "\e9e0";
}
.iconM-message:before {
    content: "\e9e1";
}
.iconM-mic:before {
    content: "\e9e2";
}
.iconM-minus:before {
    content: "\e9e3";
}
.iconM-mobile:before {
    content: "\e9e4";
}
.iconM-modern-mic:before {
    content: "\e9e5";
}
.iconM-moon:before {
    content: "\e9e6";
}
.iconM-mouse:before {
    content: "\e9e7";
}
.iconM-music:before {
    content: "\e9e8";
}
.iconM-network:before {
    content: "\e9e9";
}
.iconM-new-message:before {
    content: "\e9ea";
}
.iconM-new:before {
    content: "\e9eb";
}
.iconM-news:before {
    content: "\e9ec";
}
.iconM-note:before {
    content: "\e9ed";
}
.iconM-notification:before {
    content: "\e9ee";
}
.iconM-old-mobile:before {
    content: "\e9ef";
}
.iconM-old-phone:before {
    content: "\e9f0";
}
.iconM-palette:before {
    content: "\e9f1";
}
.iconM-paper-plane:before {
    content: "\e9f2";
}
.iconM-pencil:before {
    content: "\e9f3";
}
.iconM-phone:before {
    content: "\e9f4";
}
.iconM-pie-chart:before {
    content: "\e9f5";
}
.iconM-pin:before {
    content: "\e9f6";
}
.iconM-plus:before {
    content: "\e9f7";
}
.iconM-popup:before {
    content: "\e9f8";
}
.iconM-power-plug:before {
    content: "\e9f9";
}
.iconM-price-ribbon:before {
    content: "\e9fa";
}
.iconM-price-tag:before {
    content: "\e9fb";
}
.iconM-print:before {
    content: "\e9fc";
}
.iconM-progress-empty:before {
    content: "\e9fd";
}
.iconM-progress-full:before {
    content: "\e9fe";
}
.iconM-progress-one:before {
    content: "\e9ff";
}
.iconM-progress-two:before {
    content: "\ea00";
}
.iconM-publish:before {
    content: "\ea01";
}
.iconM-quote:before {
    content: "\ea02";
}
.iconM-radio:before {
    content: "\ea03";
}
.iconM-reply-all:before {
    content: "\ea04";
}
.iconM-reply:before {
    content: "\ea05";
}
.iconM-retweet:before {
    content: "\ea06";
}
.iconM-rocket:before {
    content: "\ea07";
}
.iconM-round-brush:before {
    content: "\ea08";
}
.iconM-rss:before {
    content: "\ea09";
}
.iconM-ruler:before {
    content: "\ea0a";
}
.iconM-scissors:before {
    content: "\ea0b";
}
.iconM-share-alternitive:before {
    content: "\ea0c";
}
.iconM-share:before {
    content: "\ea0d";
}
.iconM-shareable:before {
    content: "\ea0e";
}
.iconM-shield:before {
    content: "\ea0f";
}
.iconM-shop:before {
    content: "\ea10";
}
.iconM-shopping-bag:before {
    content: "\ea11";
}
.iconM-shopping-basket:before {
    content: "\ea12";
}
.iconM-shopping-cart:before {
    content: "\ea13";
}
.iconM-shuffle:before {
    content: "\ea14";
}
.iconM-signal:before {
    content: "\ea15";
}
.iconM-sound-mix:before {
    content: "\ea16";
}
.iconM-sports-club:before {
    content: "\ea17";
}
.iconM-spreadsheet:before {
    content: "\ea18";
}
.iconM-squared-cross:before {
    content: "\ea19";
}
.iconM-squared-minus:before {
    content: "\ea1a";
}
.iconM-squared-plus:before {
    content: "\ea1b";
}
.iconM-star-outlined:before {
    content: "\ea1c";
}
.iconM-star:before {
    content: "\ea1d";
}
.iconM-stopwatch:before {
    content: "\ea1e";
}
.iconM-suitcase:before {
    content: "\ea1f";
}
.iconM-swap:before {
    content: "\ea20";
}
.iconM-sweden:before {
    content: "\ea21";
}
.iconM-switch:before {
    content: "\ea22";
}
.iconM-tablet:before {
    content: "\ea23";
}
.iconM-tag:before {
    content: "\ea24";
}
.iconM-text-document-inverted:before {
    content: "\ea25";
}
.iconM-text-document:before {
    content: "\ea26";
}
.iconM-text:before {
    content: "\ea27";
}
.iconM-thermometer:before {
    content: "\ea28";
}
.iconM-thumbs-down:before {
    content: "\ea29";
}
.iconM-thumbs-up:before {
    content: "\ea2a";
}
.iconM-thunder-cloud:before {
    content: "\ea2b";
}
.iconM-ticket:before {
    content: "\ea2c";
}
.iconM-time-slot:before {
    content: "\ea2d";
}
.iconM-tools:before {
    content: "\ea2e";
}
.iconM-traffic-cone:before {
    content: "\ea2f";
}
.iconM-tree:before {
    content: "\ea30";
}
.iconM-trophy:before {
    content: "\ea31";
}
.iconM-tv:before {
    content: "\ea32";
}
.iconM-typing:before {
    content: "\ea33";
}
.iconM-unread:before {
    content: "\ea34";
}
.iconM-untag:before {
    content: "\ea35";
}
.iconM-user:before {
    content: "\ea36";
}
.iconM-users:before {
    content: "\ea37";
}
.iconM-v-card:before {
    content: "\ea38";
}
.iconM-video:before {
    content: "\ea39";
}
.iconM-vinyl:before {
    content: "\ea3a";
}
.iconM-voicemail:before {
    content: "\ea3b";
}
.iconM-wallet:before {
    content: "\ea3c";
}
.iconM-water:before {
    content: "\ea3d";
}
.iconM-500px-with-circle:before {
    content: "\ea3e";
}
.iconM-500px:before {
    content: "\ea3f";
}
.iconM-basecamp:before {
    content: "\ea40";
}
.iconM-behance:before {
    content: "\ea41";
}
.iconM-creative-cloud:before {
    content: "\ea42";
}
.iconM-dropbox:before {
    content: "\ea43";
}
.iconM-evernote:before {
    content: "\ea44";
}
.iconM-flattr:before {
    content: "\ea45";
}
.iconM-foursquare:before {
    content: "\ea46";
}
.iconM-google-drive:before {
    content: "\ea47";
}
.iconM-google-hangouts:before {
    content: "\ea48";
}
.iconM-grooveshark:before {
    content: "\ea49";
}
.iconM-icloud:before {
    content: "\ea4a";
}
.iconM-mixi:before {
    content: "\ea4b";
}
.iconM-onedrive:before {
    content: "\ea4c";
}
.iconM-paypal:before {
    content: "\ea4d";
}
.iconM-picasa:before {
    content: "\ea4e";
}
.iconM-qq:before {
    content: "\ea4f";
}
.iconM-rdio-with-circle:before {
    content: "\ea50";
}
.iconM-renren:before {
    content: "\ea51";
}
.iconM-scribd:before {
    content: "\ea52";
}
.iconM-sina-weibo:before {
    content: "\ea53";
}
.iconM-skype-with-circle:before {
    content: "\ea54";
}
.iconM-skype:before {
    content: "\ea55";
}
.iconM-slideshare:before {
    content: "\ea56";
}
.iconM-smashing:before {
    content: "\ea57";
}
.iconM-soundcloud:before {
    content: "\ea58";
}
.iconM-spotify-with-circle:before {
    content: "\ea59";
}
.iconM-spotify:before {
    content: "\ea5a";
}
.iconM-swarm:before {
    content: "\ea5b";
}
.iconM-vine-with-circle:before {
    content: "\ea5c";
}
.iconM-vine:before {
    content: "\ea5d";
}
.iconM-vk-alternitive:before {
    content: "\ea5e";
}
.iconM-vk-with-circle:before {
    content: "\ea5f";
}
.iconM-vk:before {
    content: "\ea60";
}
.iconM-xing-with-circle:before {
    content: "\ea61";
}
.iconM-xing:before {
    content: "\ea62";
}
.iconM-yelp:before {
    content: "\ea63";
}
.iconM-dribbble-with-circle:before {
    content: "\ea64";
}
.iconM-dribbble:before {
    content: "\ea65";
}
.iconM-facebook-with-circle:before {
    content: "\ea66";
}
.iconM-facebook:before {
    content: "\ea67";
}
.iconM-flickr-with-circle:before {
    content: "\ea68";
}
.iconM-flickr:before {
    content: "\ea69";
}
.iconM-github-with-circle:before {
    content: "\ea6a";
}
.iconM-github:before {
    content: "\ea6b";
}
.iconM-google-with-circle:before {
    content: "\ea6c";
}
.iconM-google:before {
    content: "\ea6d";
}
.iconM-instagram-with-circle:before {
    content: "\ea6e";
}
.iconM-instagram:before {
    content: "\ea6f";
}
.iconM-lastfm-with-circle:before {
    content: "\ea70";
}
.iconM-lastfm:before {
    content: "\ea71";
}
.iconM-linkedin-with-circle:before {
    content: "\ea72";
}
.iconM-linkedin:before {
    content: "\ea73";
}
.iconM-pinterest-with-circle:before {
    content: "\ea74";
}
.iconM-pinterest:before {
    content: "\ea75";
}
.iconM-rdio:before {
    content: "\ea76";
}
.iconM-stumbleupon-with-circle:before {
    content: "\ea77";
}
.iconM-stumbleupon:before {
    content: "\ea78";
}
.iconM-tumblr-with-circle:before {
    content: "\ea79";
}
.iconM-tumblr:before {
    content: "\ea7a";
}
.iconM-twitter-with-circle:before {
    content: "\ea7b";
}
.iconM-twitter:before {
    content: "\ea7c";
}
.iconM-vimeo-with-circle:before {
    content: "\ea7d";
}
.iconM-vimeo:before {
    content: "\ea7e";
}
.iconM-youtube-with-circle:before {
    content: "\ea7f";
}
.iconM-youtube:before {
    content: "\ea80";
}

