@CHARSET "ISO-8859-1";

body{
	background: rgba(40, 47, 42,.3);
}
.cajaA{
	margin-top: 20px;
	padding-top:100px;
	background-color: rgba(21, 28, 23, 0.9);
	background-image: url("../img/overlay.png"), url("../img/highlight.png");
	background-position: top right, center center;
	background-size: auto, 100% 250%;
	background-repeat: repeat, no-repeat;
	text-align: center;
	
}
.cajaB{
	margin-top: 20px;
	padding-top:50px;
	padding-left:200px;
	background-image: url("../img/overlay.png");
}
#div_form{
	margin: .4em 0;
}
label {
   width: 20%;
   float: left;
}
.btn_active{
	background: #a1cd9b;
}
#repuestaCliente{
	color:rgba(6, 120, 163,.9);
	text-align: center;
	padding:10px;
}
#idcajaB{
	background:rgba(161, 205, 155,.8);
	color:#252C27;
}