
* {
	padding:0;
	margin:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

 
body {background:#FEFEFE;}
 
/*Menu desplegable*/

.menu_bar {
	display:none;
}
 
header {
	width: 100%;
	text-align: center;
	
}
 
header nav {
	background:	#fff;
	z-index:1000;
	
	width:100%;
	margin:5px auto;
	background-image: url("/img/overlay.png");
	
}
 
header nav ul {
	list-style:none;
}
 
header nav ul li {
	display:inline-block;
	position: relative;

}


 
header nav ul li a:hover {
	background:#31312B;
	color: #fff;
}

header nav ul li ul li a:hover {
	background:rgba(45, 46, 40,.6);
	color: #fff;
}
header nav ul li h3{
	font: small-caps 100%/200% serif; 
	font-size: 24pt; 
	font-weight: bold;
	padding-left: 25px;
	cursor:pointer;
}
header nav ul li h3:hover {
	color: rgba(0,0,0,.7);

}

 
header nav ul li a {

	display:block;
	text-decoration:none;
	padding: 13px;
	font-weight: bold;
	font-size: 14pt; 
	color:#414C4C;
 	 font: 150% sans-serif;

}
 
header nav ul li a span {
	margin-right:10px;
}
 
header nav ul li:hover .children {
	display:block;
}
 
header nav ul li .children {
	display: none;
	background:#fff;
	position: absolute;
	width: 150%;
	z-index:1000;
}
 
header nav ul li .children li {
	display:block;
	overflow: hidden;
	border-bottom: 2px solid rgba(70, 130, 180,.5);
}
 
header nav ul li .children li a {
	display: block;

	font-weight: bold;
	font-size: 11pt; 
	color:#414C4C;
	font: 150% sans-serif;
}
 
header nav ul li .children li a span {
	float: right;
	position: relative;
	top:3px;
	margin-right:0;
	margin-left:10px;
}
 
header nav ul li .caret {
	position: relative;
	top:3px;
	margin-left:10px;
	margin-right:0px;
}


.sticky{
	
	position: fixed;
	z-index:1000;
	margin-top:0;
	width:100%;
	background:#fff;
	background-image: url("/img/overlay.png");


	
}
.sticky a{

	border-bottom-color:#414C4C;
	border-bottom-width:2px;
	font-weight: bold;
	
}

 
@media screen and (max-width: 800px) {
	body {
		padding-top:80px;
	}
 
	.menu_bar {
		display:block;
		z-index:1000;
		width:100%;
		position: fixed;
		top:0;
		background:#E6344A;
	}
 
	.menu_bar .bt-menu {
		display: block;
		padding: 20px;
		color: #fff;
		overflow: hidden;
		font-size: 25px;
		font-weight: bold;
		text-decoration: none;
	}
 
	.menu_bar span {
		float: right;
		font-size: 40px;
	}
 
	header nav {
		width: 80%;
		height: calc(100% - 80px);
		position: fixed;
		right:100%;
		margin: 0;
		overflow: scroll;
	}
 
	header nav ul li {
		display: block;
		border-bottom:1px solid rgba(43, 43, 39,.5);
	}
 
	header nav ul li a {
		display: block;
	}
 
	header nav ul li:hover .children {
		display: none;
	}
 
	header nav ul li .children {
		width: 100%;
		position: relative;
	}
 
	header nav ul li .children li a {
		margin-left:20px;
	}
 
	header nav ul li .caret {
		float: right;
	}
}

.cabecera{
	padding:0;
	margin:0 auto;
}


/*Finmenu*/
/**
 * Contendor del Slider
 ----------------------------------------*/
.slider-container {
	padding:0;
	margin: 0 auto;
	width: 1200px;
	max-width: 1200px;
	margin-top: 0px;

}

.slider-wrapper {
	position: relative;
	z-index: 90;
	height: 600px;
	width: 100%;
	border: 2px solid #415066;
	overflow: hidden;
	margin-top: 0;

}

.slider-wrapper li {
	display: none;
}

li.slide-current {
	display: block;
}

.slider-wrapper li img {
	position: absolute;
	top: 0;
	left: 0;
	max-width: 100%;
	height: auto;
}

/**
 * Caption
 ----------------------------------------*/
.caption {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: rgba(0,0,0,0.6);
	padding: 9px;
	-webkit-transform: translateY(100%);
	-ms-transform: translateY(100%);
	-o-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.caption-title {
	color: #00c5b9;
	font-weight: 700;
	font-size: 1.4em;
	margin-bottom: 9px;
}

.caption p {
	color: #FFF;
	font-size: 1.4em;
	line-height: 1.1em;
}

.slider-wrapper li:hover .caption {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
}


/**
 * Controles del Slider
 ----------------------------------------*/
.slider-controls {
	text-align: center;
	margin-top: 15px;
}

.slider-controls li {
	background: #415066;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	display: inline-block;
	height: 12px;
	width: 12px;
	margin: 0 4px;
	cursor: pointer;
}

.slider-controls li.active {
	background: #00c5b9;	
}

/**
 * Autores
 ----------------------------------------*/
.authors {
	margin-bottom: 15px;
	margin-top: 25px;
	color: #415066;
	font-size: 1.4em;
	text-align: center;
}

/**
 * Responsive
 ----------------------------------------*/
 @media only screen and (max-width: 1200px) {
	.slider-container {
		width: 100%;

	}

	.slider-wrapper {
		height: 520px;
	}
}

@media only screen and (max-width: 1035px) {
	.slider-container {
		width: 100%;
	}

	.slider-wrapper {
		height: 480px;
	}
}

@media only screen and (max-width: 950px) {
	.slider-container {
		width: 100%;
	}

	.slider-wrapper {
		height: 410px;
	}
}
@media only screen and (max-width: 815px) {
	.slider-container {
		width: 100%;
	}

	.slider-wrapper {
		height: 370px;
	}
}
@media only screen and (max-width: 735px) {
	.slider-container {
		padding: 5px;
		width: 100%;
	}

	.slider-wrapper {
		height: 320px;
	}

	.caption {
		display: none;
	}
}

@media only screen and (max-width: 645px) {
	.slider-container {
		padding: 5px;
		width: 100%;
	}

	.slider-wrapper {
		height: 270px;
	}


}
@media only screen and (max-width: 550px) {
	.slider-container {
		padding: 5px;
		width: 120%;
	}

	.slider-wrapper {
		height: 220px;
	}


}
@media only screen and (max-width: 445px) {
	.slider-wrapper {
		height: 160px;
	}
}
/*fuentes paquetes y backgorund*/

.titulo{
	font: 150% sans-serif; 
	color:steelblue;

}
.descripcion{
	font-family: monospace; 
}


/*****/

/*/footer*/

footer{
	flex-wrap:wrap;
	align-self:flex-end;

	width:100%;
	

	background:rgba(78, 135, 183,.2);
	
	
}
footer nav ul li a {
	color:steelblue;
	
	text-decoration:none;
}
footer nav ul li span {
	margin-right:10px;
}
footer nav ul {
	list-style:none;
}
footer h3{
	font-weight: bold;
	color:steelblue;
}
/*.foot{
	padding-left: 20px;
	float: left;
}*/
footer nav ul li a:hover {
	text-decoration:underline;
}

/*footer h5{
	color: #696969;
	font-weight: 900;
	clear: left;

}*/
footer a{
	color:steelblue;
	
	text-decoration:none;
}

.caja_f{
	padding:2em;

}
.cop{
	padding: 1em;
	color: #696969;
}

/*****/

/*boton*/
#btn{
	padding: 4px;
	background:#4169e1;
	color: #fff;
	font-weight: bold;
}
#btn:hover{
	background:rgba(65, 105, 225,.8);
}
/*modal*/
.label_modal{
	color: white;
	display:block;
    position:relative;
}
.modal{
	background: rgba(0,0,0,.9);
	position: fixed;
	top: -200vh;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 2000;
	color: #fff;
}
.header_modal{
	color:#fff;
	font-size: 30px;
	margin-top: 80px;
	text-align: center;
	
}

.abrir_modal{
	top: 0;
}

.cerrar_modal{
	top: -200vh;
}
fieldset{
	
}

.caja_form{
	margin-left: 18%;
}
.fieldset2{
	padding: 2em;
	float:left;
	height: 310px;
}
.btn_form{
	clear:left;
	text-align: center;
}
.fieldset_principal{
	
	margin:0 auto;
	padding: 10px;
}


.textbox
  {
	  border: 1.5px solid #DBE1EB;
	  font-size: 18px;
	  font-family: Arial, Verdana;
	  padding-left: 7px;
	  padding-right: 7px;
	  padding-top: 10px;
	  padding-bottom: 10px;
	  border-radius: 4px;
	  -moz-border-radius: 4px;
	  -webkit-border-radius: 4px;
	  -o-border-radius: 4px;
	  background: #FFFFFF;
	  background: linear-gradient(left, #FFFFFF, #F7F9FA);
	  background: -moz-linear-gradient(left, #FFFFFF, #F7F9FA);
	  background: -webkit-linear-gradient(left, #FFFFFF, #F7F9FA);
	  background: -o-linear-gradient(left, #FFFFFF, #F7F9FA);
	  color: #2E3133;
}
.textbox_modal{
	   border: 1.5px solid #DBE1EB;
	  font-size: 14px;
	  font-family: Arial, Verdana;
	  padding :4px;
	  border-radius: 2px;
	  -moz-border-radius: 2px;
	  -webkit-border-radius: 2px;
	  -o-border-radius: 2px;
	  background: #FFFFFF;
	  background: linear-gradient(left, #FFFFFF, #F7F9FA);
	  background: -moz-linear-gradient(left, #FFFFFF, #F7F9FA);
	  background: -webkit-linear-gradient(left, #FFFFFF, #F7F9FA);
	  background: -o-linear-gradient(left, #FFFFFF, #F7F9FA);
	  color: #2E3133;
}	   
.textbox:focus
{

    color: #2E3133;
	border-color: #008773;

}

#btn_submit{
	padding: 20px;
	background:#4169e1;
	color: #fff;
	font-weight: bold;
}
#btn_submit:hover{
	background: rgba(65, 105, 225,.8);
}

.enlace {
	
	
	text-align: center;
}
.enlace a{
	
	padding-left: 18px;
	color:rgba(123, 162, 176,.8);
	text-decoration: none;
	font-weight: bold;
}
.enlace a:hover{
	
	text-decoration: underline;
}
/*baner*/

#baner{
		margin:0 auto;
		background-image: url("../img/overlay.png"), url("../img/overlay.png"), url("../img/portada.jpg");
		max-width:2000px;
		height:800px;
		background-repeat: repeat, repeat, no-repeat;
		
		z-index: 1;

}
#baner_caja{
	
	padding-top:140px;
	background-color: rgba(21, 28, 23, 0.85);
	background-image: url("../img/overlay.png"), url("../img/highlight.png");
	background-position: top right, center center;
	background-size: auto, 100% 250%;
	background-repeat: repeat, no-repeat;
	text-align: center;
	margin: 0;
	
}


/**header**/


#header_titulo {
				text-align: center;
				font-size: 1.4em;
				font-family: 'Open Sans Condensed', sans-serif;
				font-weight: 300;
				text-transform: uppercase;
				padding: 2.8em 0.4em 1em 0;
				
				margin: 0 auto;
			}

				#header_titulo .logo {
					position: relative;
					text-align: center;
					border-bottom: solid 10px rgba(96, 128, 160,.2);
				}

					#header_titulo .logo div {
						
						position: relative;
						display: inline-block;
						padding: 0 2em 0 1.4em;
						top: -0.65em;
					}

					#header_titulo .logo h1 {
						display: inline;
						color:rgba(33, 68, 67,.8);
					}

					#header_titulo .logo p {
						display: inline;
						color: rgba(33, 68, 67,.8);
					}
					
	/*Button*/
	
	.button {
		-webkit-appearance: none;
		display: inline-block;
		font-family: 'Open Sans Condensed', sans-serif;
		font-weight: 700;
		text-transform: uppercase;
		text-decoration: none;
		
		color: #fff;
		border: 0;
		line-height: 1em;
		border-radius: 10px;
		outline: 0;
		cursor: pointer;

		background:#008F7D;
		font-size: 1.25em;
		padding: 0.85em 1.85em;
	}
		.button:hover {
			background: rgba(0, 143, 125,.85);
			
		}
		.button:active {
			background: #a1cd9b;
		}
	
			
	/***/
	#titulo{
	
		color:rgba(38, 51, 51,.9);
	}
	
	/*perfil*/
	.font_perfil{
		color:rgba(240, 223, 213,.8);
	}
	.a_perfil{
		color:rgba(240, 223, 213,.9);
		text-decoration: none;
		
	}
	#a_perfil:hover{
		text-decoration: underline;
	}
	/**/
	
	#respuesta_login{
		color:#E82030;
		text-align: center;
		padding:10px;
		font-weight: bold;
	}
	
#respuesta_reg{
	padding: 1em;
	color: steelblue;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}


.btn_sesion {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 18;
  -moz-border-radius: 18;
  border-radius: 18px;
  font-family: Arial;
  color: #ffffff;
  font-size: 40px;
  padding: 8px 25px 8px 25px;
  border: solid #1f628d 3px;
  text-decoration: none;
}

.btn_sesion:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.paqueteA{
	-webkit-border-radius: 10;
  	-moz-border-radius: 10;
 	border-radius: 10px;
 	
	border:3px;
	background-color: #0C9CEE;
	color:#fff;
	background-image: url("/img/overlay.png");
	padding-bottom: 10px;
	padding-top: 10px;
}
.paqueteB{

	-webkit-border-radius: 10;
  	-moz-border-radius: 10;
 	border-radius: 10px; 
 	
	background-color:#3DBDC2;

	background-image: url("/img/overlay.png");
	padding-bottom: 10px;
	padding-top: 10px;
}
.paqueteC{

	-webkit-border-radius: 10;
  	-moz-border-radius: 10;
 	border-radius: 10px;
 	
	background-color: #A1F480;

	background-image: url("/img/overlay.png");
	padding-bottom: 10px;
	padding-top: 10px;
}
.paquete_nombre{
	font: small-caps 100%/200% serif;
	font-weight: 900;
	font-size: 18pt;

}
.img_rad{
		-webkit-border-radius: 4;
  	-moz-border-radius: 4;
 	border-radius: 4px;
}
.btn_paq {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
 
  font-size: 15px;
  padding: 6px 20px 6px 20px;
  border: solid #5c89fa 1px;
  text-decoration: none;
  color:#206080;
  font-weight: bold;
}

.btn_paq:hover {
  background: #c0dbfa;
  text-decoration: none;
}