@CHARSET "ISO-8859-1";

body{
	background-image:url("../img/adminfondo1.jpg");
	background-repeat:no-repeat;
	
	
}
.cajaA{
	-webkit-border-radius: 10;
  	-moz-border-radius: 10;
 	border-radius: 10px;
 	
	background-color: rgba(21, 28, 23, 0.9);
	background-image: url("../img/overlay.png"), url("../img/highlight.png");
	background-position: top right, center center;
	padding-top: 10px;
}
#div_form{
	margin: .4em 0;
}
label {
   width: 20%;
   float: left;
}
.caja_centro{
	padding-top: 70px;
	padding-left: 250px;
	background-image: url("../img/overlay.png");
}
.cajaC{
	
	background-color: rgba(21, 28, 23, 0.9);
	background-image: url("../img/overlay.png"), url("../img/highlight.png");
	background-position: top right, center center;
	padding-top: 10px;
	-webkit-border-radius: 10;
 	 -moz-border-radius: 10;
 	 border-radius: 10px;
}
.tool{
	-webkit-appearance: none;
	font-family: 'Open Sans Condensed', sans-serif;
	display: block;
	padding: 15px;
	border: 0;
	color: #091934;
	line-height: 0.8em;
	font-weight:bold;
	background: rgba(123, 126, 117,.8);
	border-radius: 10px;
	outline: 0;
	cursor: pointer;
	text-decoration: none;
	font-size: 1.25em;
	
}
.tool:hover {
			background:  rgba(123, 126, 117,.5);
			color:rgba(9, 25, 52,.7);
		}
		.tool:active {
			background: #a1cd9b;
		}
.btn_active{
	background: #a1cd9b;
}
#respuesta_admin{
	text-align: center;
	color:#DE5145;
	padding: 10px;
	font-weight: bold;
}

.btn_admin {
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: Georgia;
  color: #048704;
  font-size: 15px;
  padding: 8px 8px 8px 8px;
  border: solid #376107 2px;
  text-decoration: none;
  font-weight: bold;
}

.btn_admin:hover {
  background: #dafadc;
  text-decoration: none;
}